body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
  color: #333;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  z-index: 10;
  box-sizing: border-box;
  padding: 20px;
}

.transparent-btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  border: 2px solid #f4f4f4;
  border-radius: 5px;
  background: transparent;
  color: #f4f4f4;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.transparent-btn:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.menu {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 10000;
  display: none;
}

.menu button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  color: white;
  z-index: 10001;
}

.video-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.8);
}

.video-container iframe {
  width: 90%;
  max-width: 960px;
  height: auto;
  aspect-ratio: 16 / 9;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  padding-top: 60px;
  transition: right 0.5s ease-in-out;
  z-index: 9998;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
}

.side-menu ul li {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #444;
}

.side-menu.active {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9997;
}

.overlay.active {
  display: block;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: auto;
  /* Ne postavljamo širinu na 100% */
}

.navbar ul li {
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
  /* Razmak između tabova */
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  /* Možeš prilagoditi veličinu fonta */
}

.navbar ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 14px;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(152, 194, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100000;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#loader.hidden {
  opacity: 0;
  visibility: hidden;
}

#loader img {
  width: 30%;
  height: auto;
  max-height: 100%;
  margin-bottom: 20px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-top: 5px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Responsive Design */
@media (max-aspect-ratio: 1/1) {
  .menu {
    display: block;
  }

  .navbar {
    display: none;
  }

  #loader img {
    width: 30%;
    /* Slika zauzima 15% ekrana za uređaje sa užim ekranima */
  }
}

@media (min-aspect-ratio: 1/1) {
  .menu {
    display: none;
  }

  .navbar {
    display: flex;
  }

  #loader img {
    width: 10%;
    /* Slika zauzima 30% ekrana za uređaje sa širim ekranima */
  }
}
